.pagesBox {
    margin: 15px 0;
    display: flex;
    align-items: center;
}

.pageNumber {
    display: block;
    text-align: center;
    font-size: 1rem;
    padding: 7px 5px 4px 5px;
    margin: 0 4px;
    cursor: pointer;
    width: 25px;
    height: 25px;
    color: #002f34;
    border-radius: 50%;
}

.pageNumber:hover {
    background-color: #dcdcdb;
}

.selectedPage {
    border: 1px solid #002f34;
}

.pageNumber::selection {
    background: transparent;
}

.pagesNumberBox {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
}

.pagesBtns {
    all: unset;
    cursor: pointer;
    outline: none;
    border: none;
    font-size: 1.2rem;
    color: #414141;
}
