.item {
    display: grid;
    grid-template-columns: 130px 1fr;
    padding: 15px 20px;
    margin: 10px;
    border-radius: 10px;
}

.userNavLink {
    outline: none;
}

.userInfo {
    display: grid;
    width: auto;
}

.userName {
    font-size: 18px;
    font-weight: bold;
    margin-top: 6px;
}

.userStatus {
    font-style: italic;
    margin: 5px 0;
    max-width: 210px;
}

.userPhoto {
    max-width: 100px;
    margin-right: 30px;
    border-radius: 50%;
}

.btn {
    margin-top: 10px;
    padding: 5px 8px;
    font-size: 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    outline: none;
    letter-spacing: 1px;
    color: #222;
}

.btn i {
    margin-left: 8px;
}

.btnFollowed i {
    color: green;
}

.btnFollow {
    transition: 0.2s;
}

.btnFollowed {
    opacity: 0.65;
    transition: 0.2s;
}

.btnFollow:hover {
    background-color: green;
    color: #fff;
}

.btnFollowed:hover {
    background-color: red;
    color: #fff;
}

.btnTextFollow,
.btnTextFollowed {
    display: inline-block;
    transition: 0.2s;
}
