.posts {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    max-width: 500px;
}

.form textarea {
    border-radius: 8px;
    margin-top: 20px;
    height: 30px;
    min-width: 200px;
    outline: none;
    font-size: 16px;
    padding: 4px;
    background-color: lightcyan;
}

.send__btn {
    margin-top: 20px;
    font-size: 16px;
    padding: 5px 10px;
    border-radius: 8px;
    cursor: pointer;
    outline: none;
}

.postsHeader {
    color: #333;
    border-bottom: 2px solid #fff;
    padding: 5px 15px;
}

.formPostWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 4rem;
}

.formPostTextarea {
    resize: none;
    padding: 5px;
    border-radius: 10px;
    border: none;
    outline: none;
}
