.posts {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    max-width: 500px;
}

.postsHeader {
    color: #333;
    border-bottom: 2px solid #fff;
    padding: 5px 15px;
}

.formPostWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 4rem;
}

.formPostTextarea {
    resize: none;
    padding: 5px;
    border-radius: 10px;
    border: none;
    outline: none;
}
