.friendNavLink {
    outline: none;
    color: black;
    text-decoration: none;
    text-align: center;
    margin: 10px;
    color: white;
    text-shadow: 1px 1px black;
}

.friendNavLink__img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    background-color: lightseagreen;
    margin-bottom: 10px;
}

.friendItem {
    margin-top: 1.2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
