.userTitle {
    display: flex;
    flex-direction: column;
}

.userInfo {
    padding-top: 20px;
}

.userInfoItem {
    padding: 10px;
    border: 1px solid var(--secondary-bg-color);
    border-radius: 10px;
}

.userDataTopic {
    display: inline-block;
    margin: 10px 0;
}

.contactBox {
    display: flex;
    flex-wrap: wrap;
}

.contactLink {
    margin: 0 0.5rem;
}

.contactLink a {
    color: #00f;
    text-decoration: none;
    transition: 0.2s;
}

.contactLink a:hover {
    color: #eee;
}

.contactLink i {
    font-size: 1rem;
}

.userName {
    align-self: start;
}

.userDescription {
    padding: 5px 0;
    font-size: 18px;
}

.status {
    font-size: 1.3rem;
    margin-top: 1rem;
}

.statusText {
    cursor: pointer;
}
