.heading {
    grid-area: heading;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: lightseagreen;
    padding: 5px 30px 5px 30px;
    font-size: 14px;
    color: white;
    border-radius: 0 0 10px 10px;
}

.heading__text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: default;
}

.headingHeaderText {
    margin-right: 15px;
}
.headingHeaderText::selection {
    background-color: none;
}

.headingSubtext {
    font-weight: 300;
    margin-right: 15px;
}
.headingSubtext::selection {
    background-color: none;
}

.loginBlock {
    font-size: 1.1rem;
}

.loginName {
    color: #fff;
    text-decoration: none;
    outline: none;
}

.loginNameText {
    margin: 0 10px;
}

.login__box,
.logout__box {
    cursor: pointer;
    text-decoration: none;
    border-radius: 4px;
    padding: 4px 12px;
    margin-left: 25px;
    outline: none;
    background-color: #fff;
    color: lightseagreen;
}

.login__text,
.logout__text {
    margin-right: 10px;
}

.login__text::selection {
    background: transparent;
}

.logout__text::selection {
    background: transparent;
}
