/* HEADING */
.heading {
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 60px;
    grid-area: heading;
    display: grid;
    grid-template-columns: 1fr 900px 1fr;
    align-items: center;
    color: var(--primary-font-color);
    background-color: var(--secondary-bg-color);
}

.headingBox {
    grid-column: 2;
    display: flex;
    justify-content: space-between;
}

/* NAVIGATION */
.navigation {
    width: 350px;
    display: flex;
    justify-content: space-between;
}
.navigationLink {
    color: var(--primary-font-color);
    text-decoration: none;
    transition: 0.2s;
    padding: 0.3rem;
}
