.heading {
    grid-area: heading;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: lightseagreen;
    padding: 5px 30px 5px 30px;
    font-size: 14px;
    color: white;
    border-radius: 0 0 10px 10px;
}

.heading__text {
    display: inline-block;
    margin-left: 15px;
    cursor: default;
}

.heading__text::selection {
    background-color: none;
    color: firebrick;
}

.loginBlock {
    font-size: 1.1rem;
}

.login__box,
.logout__box {
    cursor: pointer;
    color: white;
    text-decoration: none;
    border: 1px solid white;
    border-radius: 4px;
    padding: 4px 12px;
    margin-left: 25px;
    outline: none;
}

.login__text,
.logout__text {
    margin-right: 10px;
}
