.navbar {
    grid-area: navbar;
    background-color: lightseagreen;
    border-radius: 10px;
    padding: 0.8rem 0;
}

.item {
    font-size: 1.2rem;
    margin: 0.6rem 0;
}

.item a {
    display: block;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    outline: none;
    padding: 5px 20px;
}

.item a:hover {
    margin-bottom: -2px;
    border-bottom: 2px solid #fff;
}

.item a.active {
    background-color: #fff;
    color: lightseagreen;
}

.item a.active:hover {
    cursor: default;
    border: none;
    margin: inherit;
}

.link__text {
    display: inline-block;
    margin-left: 15px;
}

.link__text::selection {
    background: transparent;
}

.item a.active .link__text {
    color: black;
}
