.formControl {
    display: flex;
    position: relative;
}

.formControl input {
    width: 300px;
    height: 30px;
    font-size: 1.2rem;
    margin: 0.5rem 0;
}

.formControl input[type="checkbox"] {
    width: 30px;
    height: 30px;
    font-size: 1.2rem;
}

.formControl textarea {
    height: 50px;
    font-size: 1.2rem;
    padding: 0.5rem;
    border-radius: 10px;
}

.formControl span {
    font-size: 1rem;
    color: white;
    background-color: coral;
    padding: 10px;
    position: absolute;
}

.formControl.error input,
.formControl.error textarea {
    border: 2px solid coral;
}

.formControl.error span {
    font-weight: normal;
}

.formError {
    display: inline-block;
    background-color: #fff;
    border: 2px solid coral;
    border-radius: 10px;
    padding: 5px;
    color: coral;
    font-size: 1.2rem;
}
