.wrapper {
    display: grid;
    grid-template-columns: 2fr 8fr;
    grid-template-rows: 70px 1fr;
    grid-template-areas: "image data" "image data";
    grid-column-gap: 2rem;
    grid-row-gap: 0.5rem;
    margin-bottom: 3rem;
}

.imageBox {
    grid-area: image;
    position: relative;
}

.profileData {
    grid-area: data;
    max-width: 500px;
}

.userImage {
    width: 250px;
    background-color: lightcyan;
    border-radius: 50%;
}

.inputFile {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    cursor: pointer;
}

.profileEditBtn {
    all: unset;
    font-size: 1.2rem;
    cursor: pointer;
    transition: 0.2s;
}

.profileEditBtn:hover {
    color: #eee;
}
