.app-wrapper > * {
    margin: 20px;
    padding: 20px;
}
.app-wrapper {
    height: 100vh;
    font-size: 16px;
    display: grid;
    grid-template-columns: 2fr 10fr;
    grid-template-rows: 150px 1fr;
    grid-template-areas: "heading heading" "navig prof";
}

.heading {
    grid-area: heading;
    background-color: lightsalmon;
}

.navig {
    grid-area: navig;
    background-color: lightgray;
}

.profile {
    background-color: lightcoral;
    grid-area: prof;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}
