body {
    /* background-image: linear-gradient(120deg, #d481ff, #c0d5f2); */
    background-image: linear-gradient(120deg, #0040ff, #c0d5f2);
}

body h1,
h2,
h3,
h4,
p {
    margin: 0;
    box-sizing: border-box;
}

input {
    outline: none;
}

textarea,
button {
    font-family: "Jost", sans-serif;
}

.app-wrapper {
    height: 100vh;
    font-size: 18px;
    display: grid;
    grid-template-columns: 1fr 170px 1000px 1fr;
    grid-template-rows: 60px 1fr;
    grid-row-gap: 1.5rem;
    grid-column-gap: 3rem;
    grid-template-areas: ". heading heading ." ". navbar cont .";
}
.app-wrapper-content {
    grid-area: cont;
}
