.wrapper {
    font-size: 1.2rem;
    display: grid;
    grid-template-columns: 1fr 6fr;
}

.dialogItems {
    display: flex;
    flex-direction: column;
}

.dialogItems > * {
    display: flex;
}

.item {
    display: flex;
    align-items: center;
    justify-content: left;
    text-decoration: none;
    outline: none;
    border-radius: 25px;
    background-color: lightseagreen;
    min-width: 120px;
    margin-bottom: 15px;
    font-size: 1rem;
}

.item__img {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-color: darkcyan;

    /* For <img alt="user"/> */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.item__name {
    padding: 5px;
    border-radius: 10px;
    color: white;
}

.messageItems {
    justify-self: center;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 500px;
    margin-bottom: 3rem;
    padding: 20px;
    border-radius: 20px;
    background-color: lightseagreen;
}

.message {
    margin: 14px 0;
}

.message__mymsg {
    align-self: end;
}

.message__item {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    padding: 10px;
    border-radius: 10px;
    background-color: white;
    max-width: 350px;
}

.message__name {
    color: blue;
}

.input__box {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 100%;
}

.input__text {
    margin-top: 30px;
    font-family: Arial;
    font-size: 14px;
    background-color: lightcyan;
    padding: 10px;
    border-radius: 10px;
}

.input__btn {
    align-self: center;
    width: 150px;
    height: 30px;
    margin-top: 10px;
    font-size: 18px;
    background-color: lightcyan;
    border-radius: 10px;
    font-weight: 500;
}

.active {
    background-color: lightcyan;
}
.active span {
    color: black;
}

.inputForm {
    grid-column: 2;
    justify-self: center;
    margin-left: 3rem;
    text-align: center;
}
