.wrapper {
    font-size: 1.2rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 500px 1fr;
    grid-template-areas: 'messages' ' form';
}

.messageItems {
    grid-area: messages;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: flex-start;
    padding: 20px;
    height: 400px;
    width: 500px;
    overflow-y: auto;
}

.messageForm {
    grid-area: form;
    justify-self: center;
    align-items: center;
}

.message {
    margin: 14px 0;
}

.message__mymsg {
    align-self: end;
}

.message__item {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 10px;
    max-width: 350px;
}

.message__name {
    color: blue;
}
.active {
    background-color: lightcyan;
}
.active span {
    color: black;
}

.inputForm {
    grid-column: 2;
    justify-self: flex-start;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 520px;
    padding: 20px 10px;
    margin: 0 2rem;
}

.inputFormTextarea {
    width: 500px;
    outline: none;
}

.inputFormBtn {
    padding: 4px 40px;
    background-color: #fff;
    border-radius: 10px;
    border: none;
    outline: none;
    cursor: pointer;
}
